.aPost{
    width: 40%;
    height: 40%;
    margin: 16px auto;
    color: aliceblue;
    background-color: 	#00415a;
    border-radius: 7px;
    padding: 8px 16px 8px 16px;
    box-sizing: border-box;
}
@media(max-width: 600px) {
    .aPost {
        width: 90%;
        height: 80%;
    }
}